header{
	background: #BBBBBB;
	padding: 20px 0;
}
.caixa{ 
	position: relative;
	width: 940px;
	margin: 0 auto;
 }
 nav{
	position: absolute;
	top: 100px;
	right: 0;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: purple;
	text-decoration: underline;
}


.principal{
	background: #CCCCCC;
	padding: 30px;
}

#banner{
	width: 100%;
}

.titulo{
	padding-left: 40px;
	text-align: center;
	font-weight: bolder;
	margin-bottom: 10px;
	margin-top: 10px;
}
h3{
	font-size: 40px;
	background: gray;
	margin: 10px 0;
}
h2,h3{
	text-align: center;
}

p{
	text-align: center;
	
}

#missao{
	font-size: 20px;
}

em strong{
	color: #FF0000;
}

.itens{
	font-style: italic;
	font-size: 18px ;

}

.beneficios{
	background: #FFFFFF;
	padding: 20px;
	margin-top: 10px;

}




.relacao{
	
	
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border:  2px solid #000000;
	border-radius: 20px;
}

.imagembeneficios{
	width: 50%;
}
footer{
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}
.copy{
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0 ;
}